# MariaDB 10.5 CentOS repository list - created 2021-02-24 14:31 UTC
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = {{ mariadb.repo_baseurl }}
gpgkey={{ mariadb.repo_gpgkey }}
gpgcheck=1
