#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysql_upgrade]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqladmin]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqlbinlog]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqlcheck]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqldump]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqlimport]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqlshow]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

[mysqlslap]
default-character-set = utf8
socket={{ mariadb.directories.work_dir }}/mariadb.sock

